<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.codingo.bd">

    <uses-permission android:name="android.permission.INTERNET" />

    <!--
        android:hardwareAccelerated="true"
    -->
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LearningApp"
        tools:targetApi="31">
        <activity
            android:launchMode="singleTop"
            android:name="com.codingo.MainActivity"
            android:exported="true">

        </activity>
        <activity
            android:launchMode="singleTop"
            android:name="com.codingo.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:launchMode="singleTop"
            android:name="com.codingo.CourseQuizActivity"
            android:exported="true">

        </activity>
        <activity
            android:launchMode="singleTop"
            android:name="com.codingo.MarksActivity"
            android:exported="true">

        </activity>
        <activity
            android:launchMode="singleTop"
            android:name="com.codingo.CourseLessonActivity"
            android:exported="true">

        </activity>
        <activity
            android:launchMode="singleTop"
            android:name="com.codingo.CourseDescriptionActivity"
            android:exported="true">

        </activity><activity
            android:launchMode="singleTop"
            android:name="com.codingo.YourSearchCourseActivity"
            android:exported="true">

        </activity>
        <activity
            android:launchMode="singleTop"
            android:name="com.codingo.YourEnrolledCourseActivity"
            android:exported="true">

        </activity>
        <activity
            android:launchMode="singleTop"
            android:name="com.codingo.CourseDetailsActivity"
            android:exported="true">

        </activity>
        <activity
            android:launchMode="singleTop"
            android:name="com.codingo.QuizEnrolledCourseActivity"
            android:exported="true">

        </activity>
        <activity
            android:launchMode="singleTop"
            android:name="com.codingo.WebViewContentActivity"
            android:exported="true">

        </activity>
        <activity
            android:launchMode="singleTop"
            android:name="com.codingo.LoginActivity"
            android:exported="true">

        </activity>
        <activity
            android:launchMode="singleTop"
            android:name="com.codingo.SignupActivity"
            android:exported="true">

        </activity>
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>